@import url('https://fonts.googleapis.com/css?family=Spartan');
.App {
  /* text-align: center; */
  background-color: white;
}

.Form {
  position: relative;
  left: 38px;
  font-family: 'Spartan', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.Select {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  border-radius: 3px;
  outline: none;
  width: 210px;
}

.TextInput {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  border-radius: 3px;
  outline: none;
  width: 200px;
}

.Submit {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  position: relative;
  top: 19px;
  outline: none;
  border-radius: 3px;
  padding: 4px 6px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Spartan', Times, serif;
}

.Form p {
  margin-bottom: 4px;
}

#MainGraph {
  position: relative;
  width: 100vw;
  height: auto;
  left: 40px;
  top: 60px;
  align-content: center;
}

.GraphTitle {
  /* position: relative; */
  text-align: center;
  font-family: 'Spartan', Times, serif;
}

